<td>{{employee.name}}</td>
<td>{{employee.surname}}</td>
<td>{{employee.job}}</td>
<td class="text-end">{{employee.wage}}</td>
<td><a class="link-info" href="../room/view.php?id={{room.room_id}}">{{room.name}} ({{room.no}})</a></td>
