<td><a class="link-info" href="../employee/view.php?id={{employee.employee_id}}">{{employee.name}} {{employee.surname}}</a></td>
<td><a class="link-info" href="../room/view.php?id={{room.room_id}}">{{room.name}} ({{room.no}})</a></td>
