<label class="form-label" for="name">No</label>
<input class="form-control" type="number" id="no" name="no" value="{{room.no}}"/>
<label class="form-label" for="surname">Name</label>
<input class="form-control" type="text" id="name" name="name" value="{{room.name}}"/>
<label class="form-label" for="job">Phone</label>
<input class="form-control" type="number" id="phone" name="phone" value="{{room.phone}}">
