<label class="form-label" for="no">No</label>
<input class="form-control" type="number" id="no" name="no" value="{{room.no}}" required/>
<label class="form-label" for="name">Name</label>
<input class="form-control" type="text" id="name" name="name" value="{{room.name}}"/>
<label class="form-label" for="phone">Phone</label>
<input class="form-control" type="number" id="phone" name="phone" value="{{room.phone}}"/>
