<div class="shrinky-box w-50 p-2 m-2 px-4 mt-3">
    <h1 class="display-1 glow-text-flicker">{{code}}</h1>
    <p class="display-5 glow-text">{{message}}</p>
    <a href="/" class="btn btn-outline-light my-2 glow-hover">
        Try Going Home
        <i class="bi bi-house"></i>
    </a>
</div>
<div class="text-muted shrinky-box p-2 m-2">
    <p>This is the story of a man named Stanley.
    </p>
    <p>Stanley worked for a company in a big building where he was Employee #427.
    </p>
    <p>Employee #427's job was simple: he sat at his desk in Room 427 and he pushed buttons on a keyboard.
    </p>
    <p>Orders came to him through a monitor on his desk telling him what buttons to push, how long to push them, and in what order.
    </p>
    <p>This is what Employee #427 did every day of every month of every year, and although others may have considered it soul rending,
    </p>
    <p>Stanley relished every moment that the orders came in, as though he had been made exactly for this job.
    </p>
    <p>And Stanley was happy.
    </p>
</div>