<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center mx-5 glow-logo" href="/">
            <img style="height: 3em;" src="/public/img/logo.svg" alt="Logo"/>
        </a>
        {{#user}}
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mx-2">
                    <a href="/employee/list.php" class="nav-link shrinky-box glow-hover-outer"><span>Employees</span></a>
                </li>
                <li class="nav-item mx-2">
                    <a href="/room/list.php" class="nav-link shrinky-box glow-hover-outer"><span>Rooms</span></a>
                </li>
                {{#user.has_rights}}
                <li class="nav-item mx-2">
                    <a href="/key/list.php" class="nav-link shrinky-box glow-hover-outer"><span>Keys</span></a>
                </li>
                <li class="nav-item mx-2">
                    <a href="/user/list.php" class="nav-link shrinky-box glow-hover-outer"><span>Users</span></a>
                </li>
                {{/user.has_rights}}
            </ul>
        </div>

        <div>
            <a href="#" class="btn btn-outline-light mx-2 glow-hover">
                ​
                <i class="bi bi-person"></i>
            </a>
            <a href="/logout.php" class="btn btn-outline-light mx-2 glow-hover">
                Logout
                <i class="bi bi-box-arrow-right"></i>
            </a>
        </div>
        {{/user}}
        {{^user}}
        <div>
            {{^fix_login}}
            <a href="/login.php" class="btn btn-outline-light mx-2 glow-hover">
                Login
                <i class="bi bi-box-arrow-in-right"></i>
            </a>
            {{/fix_login}}
            {{#fix_login}}
            <a title="This is not a bug, it's a feature..." href="https://youtu.be/watch?v=dQw4w9WgXcQ" class="btn btn-outline-light mx-2 glow-hover">
                Login ( ͡° ͜ʖ ͡°)
            </a>
            {{/fix_login}}

        </div>
        {{/user}}
    </div>
</nav>