<title>{{title}}</title>
<link rel="stylesheet" href="/public/bootstrap/bootstrap.min.css"/>
<link rel="stylesheet" href="/public/bootstrap/bootstrap-icons.min.css"/>
<link rel="stylesheet" href="/public/css/main.css"/>
<link rel="stylesheet" href="/public/css/glow.css"/>
<link rel="stylesheet" href="/public/css/shrinky.css"/>
<style>
{{{custom_style}}}
</style>