<title>{{title}}</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="public/css/main.css"/>
<link rel="stylesheet" href="public/css/shrinky.css"/>
<link rel="stylesheet" href="public/css/glow.css"/>
