<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none px-5 logo">
                <img style="width: 2em;" src="public/img/logo.svg" alt="Logo"/>
            </a>

            {{^loggedin}}
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="employees.php" class="nav-link px-3 mx-2 text-white shrinky-box glow-outer"><span>Employees</span></a></li>
                <li><a href="rooms.php" class="nav-link px-3 mx-2 text-white shrinky-box glow-outer"><span>Rooms</span></a></li>
                <li><a href="keys.php" class="nav-link px-3 mx-2 text-white shrinky-box glow-outer"><span>Keys</span></a></li>
                {{^hasrights}}
                <li><a href="Users.php" class="nav-link px-3 mx-2 text-white shrinky-box glow-outer"><span>Users</span></a></li>
                {{/hasrights}}
            </ul>

            <div class="text-end">
                <a  class="btn btn-outline-light me-2 glow">
                    Logout
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"></path>
                      <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"></path>
                    </svg>
                </a>
            </div>
            {{/loggedin}}
        </div>
    </div>
</header>