<div class="m-2 p-2">
    <h1 class="display-3 my-5 glow-text">{{heading}}</h1>
    <table class="table">
        <thead>
            <tr>
                {{{thead}}}
                {{#edit}}
                <th scope="col"></td>
                {{/edit}}
            </tr>
        </thead>
        <tbody>
            {{{tbody}}}
        </tbody>
    </table>
</div>