<div class="m-2 p-2">
    <h1 class="display-3 my-5 glow-text">{{heading}}</h1>
    <table class="table">
        <thead>
            <tr>
                {{{thead}}}
                {{#edit}}
                <th scope="col">
                    <div class="shrinky-box p-2 float-end">
                        <a class="btn btn-outline-light glow-hover-outer link-primary p-0 px-1" href="edit.php?mode=create"><i class="bi bi-plus-lg"></i></a>
                    </div>
                </th>
                {{/edit}}
            </tr>
        </thead>
        <tbody>
            {{{tbody}}}
        </tbody>
    </table>
</div>