<div style="width: 35%;" class="p-2 m-2 mt-5 d-flex bg-dark">
    <div class=" w-100 p-4 m-2">
        {{{alert}}}
        <form method="post">
            <div class="mb-2 p-3 w-100 shrinky-box">
                <label class="form-label" for="username">Username</label>
                <input type="text" id="username" name="username" class="form-control mb-2" value="{{username}}"/>

                <label class="form-label" for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control mb-2" value="{{password}}"/>

                <div class="w-100 text-center">
                    <button type="submit" class="mx-50 my-4 btn btn-outline-light glow-hover">
                        Login
                        <i class="bi bi-box-arrow-in-right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>