<div class="shrinky-box w-50 p-2 m-2 px-4 mt-3">
    <h1 class="display-3 glow-text">Cya!</h1>
    <a href="/" class="btn btn-outline-light my-2 glow-hover">
        Home
        <i class="bi bi-house"></i>
    </a>
</div>