<td>{{employee.name}}</td>
<td>{{employee.surname}}</td>
<td>{{employee.job}}</td>
<td>{{employee.wage}}</td>
<td><a class="link-info" href"#">{{room.name}} ({{room.no}})</a></td>
{{#edit}}
<td class="text-end">
    <a class="me-2 link-primary" href="#"><i class="bi bi-pencil-square"></i></a>
    <a class="me-2 link-danger" href="#"><i class="bi bi-x-lg"></i></a>
</td>
{{/edit}}